<div class="container">
  <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <h1>404</h1>
    <h2>The page you are looking for doesn't exist.</h2>
    <a class="btn" href="<%= admin? ? '/admin' : '/' %>">Back to home</a>
    <%= image_tag "admin/not-found.svg", class: "img-fluid py-5", alt: "Page Not Found" %>
    <!-- <div class="credits"> -->
    <!--   <!&#45;&#45; All the links in the footer should remain intact. &#45;&#45;> -->
    <!--   <!&#45;&#45; You can delete the links only if you purchased the pro version. &#45;&#45;> -->
    <!--   <!&#45;&#45; Licensing information: https://bootstrapmade.com/license/ &#45;&#45;> -->
    <!--   <!&#45;&#45; Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice&#45;admin&#45;bootstrap&#45;admin&#45;html&#45;template/ &#45;&#45;> -->
    <!--   Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
    <!-- </div> -->
  </section>

</div>
