<div class="container">
  <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <h1>500</h1>
    <h2>We're sorry, but something went wrong.</h2>
    <a class="btn" href="<%= admin? ? '/admin' : '/' %>">Back to home</a>
    <%= image_tag "admin/500.png", class: "img-fluid py-5", alt: "Page Not Found" %>
  </section>

</div>

